<div class="animate">
    <div class="animate">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-info card-inverse">
                        <h3 class="card-title">Bienvenue {{prenom}}  {{nom}} </h3>
                    </div>
                    <div class="card-block">
                        <carousel interval="5000">
                           
                         <slide active="slide.active">
                                <img width="100%" src="assets/img/sec5.jpg">
                            </slide>
                            <slide>
                                <img width="100%" src="assets/img/qq.jpg">
                            </slide>
                            <slide>
                                <img width="100%" src="assets/img/tt.jpg">
                            </slide>
                            <slide>
                                <img width="100%" src="assets/img/zz.jpg">
                            </slide>
                           
                        </carousel>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid" src="assets/img/xxxx.png" width="100%" alt="Image">
                    <div class="card-block">
                        <h4 class="card-title"><font color= #63c2de>    La Polyclinique du Parc</font> </h4>
                        <p class="card-text">Depuis 1974, la Polyclinique du Parc propose à la population choletaise et son bassin environnant

une prise en charge pluridisciplinaire de proximité, humaine et compétente

et à la pointe du progrès technique. La valeur d’écoute est essentielle pour nos professionnels.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" style="background: #63c2de  ;">
        <Strong> <span style="color : white;" >PRESENTATION</span> </Strong>
        </div>
                    
                    
                    
                    
                   
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-4 text-xs-left">
                                <div class="card card-default card-block">
                                    <blockquote class="card-blockquote">
                                    <h4 class="text-default"> <font color= #63c2de >    LES CHIFFRES CLÉS </font></h4>
                                        <p>

=>74 000 journées d’hospitalisation par an <br><br>

=>3 800 séances de chimiothérapie par an <br><br>

=>1 000 accouchements par an <br><br>

=>plus de 1 000 entrées en Soins de Suite et Réadaptation par an </p>
                                       
                                    </blockquote>
                                </div>
                            </div>

                            <div class="col-md-4 text-xs-center">
                                <div class="card card-default card-block">
                                    <blockquote class="card-blockquote">
                                    <h4 class="text-default"><font color= #63c2de >    CONTACT </font> </h4> <br>
                                        <p>  <i class="fa fa-phone" aria-hidden="true"></i> 02 41 63 42 00 <br><br>
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i> contact@polyclinique-du-parc.net <br> <br>
                                        <i class="fa fa-location-arrow" aria-hidden="true"></i> Avenue des Sables - CS 60908 - 49308 CHOLET
                                        </p>
                                       
                                    </blockquote>
                                </div>
                            </div>

                            <div class="col-md-4 text-xs-right">
                                <div class="card card-default card-block ">
                                    <blockquote class="card-blockquote">
                                    <h4 class="text-default"><font color= #63c2de >LOCALISATION </font> </h4>
                                       <p><p-gmap [options]="options" [style]="{'width':'100%','height':'320px'}" ></p-gmap></p> 
                                        
                                    </blockquote>
                                </div>
                            </div>                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
