
                    
<div class="animated fadeIn">
  <div class="row">
       <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="background: #63c2de ;">
          <i style="color: white;" class="fa fa-align-justify" aria-hidden="true"></i><strong><span style="color : white;" >Modifier fiche du patient</span></strong>
        </div>
        <div class="card-block">
                   

 
  



    <form name="form" (ngSubmit)="modifier()" >
        <table>
            <tr> <td>
        <div class="form-group row">
              <label class="col-md-3 form-control-label"  for="email"> <strong>Nom</strong></label>
              <div class="col-md-9">
            <input id="model-nom_patient" type="text" class="form-control" name="nom_patient" ngControl="nom_patient" value="{{nomPatient}}" [(ngModel)]="model.nom_patient" #nom_patient="ngModel" pattern="[a-zA-Z ]*" required />
            <div class="md-errors-spacer" [hidden]="nom_patient.valid || nom_patient.untouched">
                
        <div class="md-char-counter" *ngIf="nom_patient.errors && nom_patient.errors.required">
          <font color="red">NOM is required !</font>  
        </div>
            <div class="md-char-counter" *ngIf="nom_patient.errors && nom_patient.errors.pattern">
           <font color="red">il faut saisir seulement des caracteres !  </font>  
        </div>
           </div>
           </div>
        </div>
</td> <td>
        
<div class="form-group row">
              <label class="col-md-3 form-control-label"  for="email"><strong>Prenom</strong></label>
              <div class="col-md-9">
            <input id="model-prenom_patient" type="text" class="form-control" name="prenom_patient" ngControl="prenom_patient" value="{{prenomPatient}}"[(ngModel)]="model.prenom_patient" #prenom_patient="ngModel" pattern="[a-zA-Z ]*" required />
            
          <div class="md-errors-spacer" [hidden]="prenom_patient.valid || prenom_patient.untouched">
                
        <div class="md-char-counter" *ngIf="prenom_patient.errors && prenom_patient.errors.required">
          <font color="red">prenom is required !</font>  
        </div>
            <div class="md-char-counter" *ngIf="prenom_patient.errors && prenom_patient.errors.pattern">
           <font color="red">il faut saisir seulement des caracteres !  </font>  
        </div>
           </div>
           </div>
        </div>
</td> <td>
<div class="form-group row">
              <label class="col-md-6 form-control-label"  for="email"><strong>Date de naissance</strong></label>
               <div class="col-md-6">
           
           
 <input type="date" class="form-control" name="date_naiss1" ngControl="date_naiss" value="{{date_naiss}}" [(ngModel)]="model.date_naiss" #date_naiss1="ngModel"   required/>
       <div class="md-errors-spacer" [hidden]="date_naiss1.valid || date_naiss1.untouched">
                
        <div class="md-char-counter" *ngIf="date_naiss1.errors && date_naiss1.errors.required">
          <font color="red">date_naiss is required! </font>  
        </div>
       
    </div>
           
        </div>
     </div>
</td></tr><tr> <td>
<div class="form-group row">
              <label class="col-md-3 form-control-label"  for="email"><strong>Sexe</strong></label>
              <div class="col-md-5">

    <select name="sex" class="custom-select"  value="{{sex}}" [(ngModel)]="model.sex">
        
        <option *ngFor="let sex of sexs" [value]="sex.value">   
        {{sex.value}}
        </option>
    </select>
</div>
</div>
</td> <td>
<div class="form-group row">
              <label class="col-md-3 form-control-label"  for="age"><strong>Age  </strong></label>
              <div class="col-md-5">
          

<input type="age" class="form-control" name="age1" value="{{age}}"[(ngModel)]="model.age" #age1="ngModel" pattern="^[0-9]+$" required />


           <div class="md-errors-spacer" [hidden]="age1.valid || age1.untouched">
        <div class="md-char-counter" *ngIf="age1.errors && age1.errors.required">
             <font color="red">    Age is required</font> 
        </div>
        <div class="md-char-counter" *ngIf="age1.errors && age1.errors.pattern">
           <font color="red">    il faut saisir seulement des entiers !</font> 
        </div>
    </div>
 
        






           
        </div>
     </div>
 </td> <td>
<div class="form-group row">
              <label class="col-md-6 form-control-label"  for="email"><strong>Groupe sanguin</strong></label>
              <div class="col-md-4">
    <select name="groupe" class="custom-select" value="{{groupe}}" [(ngModel)]="model.groupe">
         
        <option *ngFor="let groupe1 of groupes"   [value]="groupe1.value">   
        {{groupe1.value}}
        </option>
    </select>
</div>
</div>
        </td></tr><tr> <td> <div class="form-group row">
              <label class="col-md-3 form-control-label"  for="email"><strong>Email</strong></label>
              <div class="col-md-9">
            
         
           <input  id="model-email_patient" type="text" class="form-control" name="email_patient" ngControl="email_patient" value="{{emailPatient}}"[(ngModel)]="model.email_patient" #email_patient="ngModel"  required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
        <div class="md-errors-spacer" [hidden]="email_patient.valid || email_patient.untouched">
        <div class="md-char-counter" *ngIf="email_patient.errors && email_patient.errors.required">
             <font color="red"> Email is required!</font>   
        </div>
        <div class="md-char-counter" *ngIf="email_patient.errors && email_patient.errors.pattern">
          <font color="red"> Email is invalid</font>   
        </div>
    </div>
         
         
         
         </div>   
        </div>
     </td><td>
   
<div class="form-group row">
              <label class="col-md-3 form-control-label"  for="email"><strong>Profession</strong></label>
              <div class="col-md-9">
          
            <input  type="text" class="form-control" name="profession_patient" ngControl="profession_patient" value="{{professionPatient}}"[(ngModel)]="model.profession_patient" #profession_patient="ngModel"  pattern="[a-zA-Z ]*" required />
            
          <div class="md-errors-spacer" [hidden]="profession_patient.valid || profession_patient.untouched">
                
        <div class="md-char-counter" *ngIf="profession_patient.errors &&profession_patient.errors.required">
          <font color="red">profession is required !</font>  
        </div>
            <div class="md-char-counter" *ngIf="profession_patient.errors && profession_patient.errors.pattern">
           <font color="red">il faut saisir seulement des caracteres !  </font>  
        </div>
           </div>
         
         
         
         
         
         
         </div>   
        </div>


</td><td>
  <div class="form-group row">
      
              <label class="col-md-6 form-control-label"  for="email"><strong>Situation Familliale</strong></label>
              <div class="col-md-5">
            <select name="situationFam" class="custom-select"  value="{{situationFam}}" [(ngModel)]="model.situation_fam">
        <option *ngFor="let x of situationFams" [value]="x.value">   
        {{x.value}}
        </option>
    </select>
        </div>
</div>
</td> </tr><tr><td>
<div class="form-group row">
              <label class="col-md-3 form-control-label"  for="email"><strong>CIN</strong></label>
              <div class="col-md-9">
          
            


  <input id="model-cin" type="cin" class="form-control" name="cin" ngControl="cin" value="{{cin1}}"[(ngModel)]="model.cin" #cin="ngModel"   pattern="^[0-9]+$" required />
           <div class="md-errors-spacer" [hidden]="cin.valid || cin.untouched">
        <div class="md-char-counter" *ngIf="cin.errors && cin.errors.required">
             <font color="red">    CIN is required</font> 
        </div>
        <div class="md-char-counter" *ngIf="cin.errors && cin.errors.pattern">
           <font color="red">    il faut saisir seulement des entiers !</font> 
        </div>
    </div>





        </div>
</div>

</td>
<td></td><td>

        <div class="form-group">
            <button [disabled]=" !(nom_patient.valid|| nom_patient.untouched ) || !(prenom_patient.valid|| prenom_patient.untouched )  ||!(date_naiss1.valid|| date_naiss1.untouched ) ||!(age1.valid|| age1.untouched ) || !(email_patient.valid|| email_patient.untouched ) || !(profession_patient.valid|| profession_patient.untouched ) ||  !(cin.valid|| cin.untouched )" class="btn btn-primary">Valider</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>   </td></tr></table>
    </form>
      </div>
</div>
      </div>
</div>
      </div>






