<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
    
  </ul>
  <ul class="nav navbar-nav ml-auto">
   
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        <img src="assets/img/avatars/adm.png" class="img-avatar" alt="admin@bootstrapmaster.com">
        <span class="hidden-md-down">{{role}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" dropdownMenu aria-labelledby="simple-dropdown">

        

        
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/homeAdmin/chat']"><i class="fa fa-envelope-o"></i> Mes Messages<span class="badge badge-success">42</span></a>
        

       

        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/homeAdmin/profile']"><i class="fa fa-user"></i> Profil</a>
     
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Deconnexion</a>
      </div>
    </li>
    <li class="nav-item hidden-md-down">
      <a class="nav-link navbar-toggler aside-menu-toggler" href="#">&#9776;</a>
    </li>
  </ul>
  
</header>

<div class="app-body">
   <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
               <li >
                  
                   
                    <img  src="assets/img/avatars/adm.png"  height="100%" width="100%" class="img-avatar" alt="admin@bootstrapmaster.com">
                     <p  style="text-align:center">  <strong> {{prenom}} {{nom}} </strong> </p> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/homeAdmin/acceuil']"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/homeAdmin/gestionuser']"><i class="fa fa-cogs" aria-hidden="true"></i>Gestion user </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/homeAdmin/gestionpatient']"><i class="fa fa-cogs" aria-hidden="true"></i> Gestion patient  </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/homeAdmin/gestionrendezvous']"><i class="fa fa-cogs" aria-hidden="true"></i> Gestion rendez_vous </a>
                </li>
                            
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/homeAdmin/chat']"><i class="fa fa-commenting-o" aria-hidden="true"></i> Chat </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/homeAdmin/caisse']"><i class="fa fa-usd" aria-hidden="true"></i> Caisse </a>
                </li> 
            </ul>
        </nav>
    </div>

 

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <breadcrumbs></breadcrumbs>
      
      <!-- Breadcrumb Menu-->
      
      
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>

  
</div>

<footer class="app-footer">
  <a href="http://coreui.io">WEVIOO</a> &copy; PFE 2017
  <span class="float-right">Powered by <a href="http://coreui.io">WEVIOO</a></span>
</footer>



 